# ========================================================================
# .gitignore
# ========================================================================
# Files to ignore when pushing to GitHub

build/
.DS_Store